<mat-drawer-container style="height: 100%;" autosize>
  <mat-drawer #drawer class="sidenav flex-column" mode="side">
    <div class="flex-column content-sidenav">
      <div class="titulo-sidenav"><span>Operações</span></div>

      <div class="flex-column gap-25 cursor-pointer operacoes">
        @for (ope of opecacoes; track $index) {
          <div class="flex-row gap-10" (click)="operacaoSelecionado = ope; drawer.close()">
            <span>{{ope}}</span>
          </div>
        }
      </div>
    </div>
  </mat-drawer>

  <div class="bar flex-row">
    <button mat-raised-button class="menu-button" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="titulo">{{titulo}}</span>
  </div>

  <div class="flex-row tipo-operacao">
    <span class="titulo-operacao">Operação de matriz: </span>
    <span class="operacao">{{operacaoSelecionado}}</span>
  </div>
  <div style="margin: 2%;">
    <app-stepper [operacao]="operacaoSelecionado"></app-stepper>
  </div>
</mat-drawer-container>
