<mat-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="configFormGroup" label="Configuração de Matriz">
    <div class="flex-row justify-space-between">
      <form>
        <mat-form-field class="form-menor">
          <mat-label>Linhas</mat-label>
          <input matInput type="number" min="1" placeholder="Linhas"
            [(ngModel)]="linhas" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="form-menor">
          <mat-label>Colunas</mat-label>
          <input matInput type="number" min="1" placeholder="Colunas"
            [(ngModel)]="colunas" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        @if (permiteSegundaMatriz) {
          @if (!segundaMatriz) {
            <mat-form-field class="form-menor">
              <mat-label>Constante</mat-label>
              <input matInput type="number" min="1" placeholder="Colunas"
                [(ngModel)]="constanteOperacao" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          }

          <mat-checkbox [(ngModel)]="segundaMatriz" [disabled]="operacao === 'Multiplicação' || operacao === 'Cofatores'" [ngModelOptions]="{standalone: true}" color="primary">Segunda matriz</mat-checkbox>
        }
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>

      <app-mostrar-matriz [linhas]="linhas" [colunas]="colunas" [preview]="true"></app-mostrar-matriz>
    </div>
  </mat-step>
  <mat-step [stepControl]="matrizUmFormGroup" label="Preencher matriz 1">
    <form [formGroup]="matrizUmFormGroup">
      <app-mostrar-matriz [linhas]="linhas" [colunas]="colunas" [cadastro]="true" (receberMatriz)="matriz1 = $event"></app-mostrar-matriz>
      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  @if (segundaMatriz) {
    <mat-step [stepControl]="matrizDoisFormGroup" label="Preencher matriz 2">
      <form [formGroup]="matrizDoisFormGroup">
        <app-mostrar-matriz [linhas]="linhas" [colunas]="colunas" [cadastro]="true" (receberMatriz)="matriz2 = $event"></app-mostrar-matriz>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
  }
  <mat-step label="Resultado">
    <app-resultado [matrizA]="matriz1" [matrizB]="matriz2" [operacao]="operacao" [constante]="constanteOperacao"
      [linhas]="linhas" [colunas]="colunas" [segundaMatriz]="segundaMatriz"></app-resultado>
  </mat-step>
</mat-stepper>
